@media screen and (max-width: 600px){

	.nftCard{
		overflow: hidden;
		width: 93vw;
		height: 105vw;
		padding: 9px;
		background-position-y: -1vh;
	}

	.media{
		width: 95vw;
		height: 30vh;
		background-position-y: -1vh;
	}
	
	.button{
		width: 25vw;
		height: 10vh;
		position: relative;
	}
	
	.grid{
	display: grid;
    grid-template-columns: 1fr;
	}
	
	.paper{
		
		margin-top: 40vh;
		
	}
	
		.postBox{
		

        width: 78vw;
    text-align: left;
    position: relative;
    height: auto;
    color: #cc0000;
    left: 5vw;
    top: 0vh;
    list-style: none;
    letter-spacing: 2.5px;
    font-weight: 500;
    margin: 2vw;
    padding-left: 18px;
    background-color: black;
    color: white;
	font-style: arial;

	}

}

@media screen and (max-width: 900px){
	
	.nftCard{
		overflow: hidden;
		width: 93vw;
		height: 105vw;
		padding: 9px;
		background-position-y: -1vh;
	}

	.media{
		width: 95vw;
		height: 30vh;
		background-position-y: -1vh;
	}
	
	.button{
		width: 25vw;
		height: 10vh;
		position: relative;
	}
	
	.grid{
	display: grid;
    grid-template-columns: 2fr;
	}
	
	.paper{
		
		margin-top: 40vh;
		
	}

	.postBox{
		

        width: 78vw;
    text-align: left;
    position: relative;
    height: auto;
    color: #cc0000;
    left: 5vw;
    top: 0vh;
    list-style: none;
    letter-spacing: 2.5px;
    font-weight: 500;
    margin: 2vw;
    padding-left: 18px;
    background-color: black;
    color: white;
	font-style: arial;

	}	
	
}